NEXT_PUBLIC_WEB_APP_URL=https://studio82-miniapp.vercel.app
ADMIN_LOGIN=admin
ADMIN_PASSWORD=change-me
BOT_TOKEN=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
CDEK_CLIENT_ID=
CDEK_CLIENT_SECRET=
DATABASE_URL=
